<ion-content>
  <div class="gif-container">
    <img src="https://i.pinimg.com/originals/ea/8b/13/ea8b137fbc46bea2f12cc9087e57053d.gif" alt="GIF 1" class="responsive-gif">
    <img src="https://media.tenor.com/rlawlA-LEEAAAAAC/hamster.gif" alt="GIF 2" class="responsive-gif">
    <img src="https://media.tenor.com/KkoCzp0FcFEAAAAd/chihuahua-perro.gif" alt="GIF 3" class="responsive-gif">
    <img src="https://media.tenor.com/PONdDN1-P8UAAAAC/haim-haimbs3.gif" alt="GIF 4" class="responsive-gif">
  </div>
</ion-content>
