<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-searchbar show-cancel-button="focus" placeholder="Buscar"></ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="image-container">
    <div class="image-group">
      <img class="a" src="https://cdn.leonardo.ai/users/a3df9ed6-fef2-4302-a2e5-191e426b7d3d/generations/51a1f741-d00a-4d00-bcdc-92383f7afa5c/DreamShaper_v7_dog_1.jpg?w=512" alt="Imagen 1">
      <img class="a" src="https://cdn.leonardo.ai/users/a3df9ed6-fef2-4302-a2e5-191e426b7d3d/generations/51a1f741-d00a-4d00-bcdc-92383f7afa5c/DreamShaper_v7_dog_0.jpg" alt="Imagen 2">
    </div>
    <div class="image-group">
      <img class="a" src="https://cdn.leonardo.ai/users/a3df9ed6-fef2-4302-a2e5-191e426b7d3d/generations/d9459a01-d787-45ce-9ae2-10baeb92d3cc/DreamShaper_v7_cat_1.jpg" alt="Imagen 3">
      <img class="a" src="https://cdn.leonardo.ai/users/a3df9ed6-fef2-4302-a2e5-191e426b7d3d/generations/58593da5-5f87-4df7-907a-0198ca03ba2b/DreamShaper_v7_guinea_pig_0.jpg" alt="Imagen 4">
      <img class="a" src="https://cdn.leonardo.ai/users/a3df9ed6-fef2-4302-a2e5-191e426b7d3d/generations/59ece6bb-af73-4ca7-962d-967ce4d020d2/Absolute_Reality_v16_dog_with_sunglasses_sticking_out_its_tong_0.jpg?w=512"  alt="Imagen 5">
      <img class="a" src="https://cdn.leonardo.ai/users/a3df9ed6-fef2-4302-a2e5-191e426b7d3d/generations/72a8d53f-4d9e-4581-976f-7832ffe43bb3/DreamShaper_v7_bird_0.jpg"  alt="Imagen 6">
      <img class="a" src="https://cdn.leonardo.ai/users/a3df9ed6-fef2-4302-a2e5-191e426b7d3d/generations/b52e3487-1d01-45d5-80e2-4737434fd786/Absolute_Reality_v16_rabbit_with_glasses_showing_a_thumb_0.jpg"  alt="Imagen 7">
      <img class="a" src="https://cdn.leonardo.ai/users/2b4dbbb3-c3f4-45a9-a675-33148ef5ed0f/generations/068f0a90-e871-4b80-8c33-760bad4384cc/variations/Default_oilpainting_a_cute_white_stag_in_a_beautiful_meadow_wi_3_068f0a90-e871-4b80-8c33-760bad4384cc_1.jpg?w=512"  alt="Imagen 8">
      <img class="a" src="https://cdn.leonardo.ai/users/2b4dbbb3-c3f4-45a9-a675-33148ef5ed0f/generations/3485000e-392d-4021-bb2c-478110574a78/variations/Default_oilpainting_a_cute_raccoon_in_a_beautiful_meadow_with_0_3485000e-392d-4021-bb2c-478110574a78_1.jpg?w=512"  alt="Imagen 9">
      <img class="a" src="https://cdn.leonardo.ai/users/8cebda37-3ab3-4857-82e6-df5a9f88a604/generations/4d46eff7-0ab0-45e9-9bda-fa2ef0eed7b5/variations/Default_A_minimalist_tshirt_design_with_a_vintage_twist_featu_3_4d46eff7-0ab0-45e9-9bda-fa2ef0eed7b5_1.jpg?w=512"  alt="Imagen 10">
    
    </div>
  
  </div>
</ion-content>






  